.button-close-div {
    display: flex;
    justify-content: center;
}
/* 
.user-name-and-button {
    display: flex;
     justify-content: center;
     margin-block-end: 10px;
} */

/* .name-button{
    border: 4px solid #92ffba;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap:60px
} */

/* .text-name {
    text-overflow: ellipsis;
    overflow: hidden;
} */

/* .invitation-button {
    width: 55px;
    border-radius: 7px;
} */

.button-user {
    font-size: 20px;
    background: deepskyblue;
    border-radius: 8px;
    padding: 2px;
}


.button-close {
    font-size: 20px;
    background: #ef5c5c;
    padding: 6px;
    border-radius: 8px;
}


/* .button-of-close {
    font-size: 20px;
    padding: 6px;
    border-radius: 8px;
} */
